[submodule "AstroNvim"]
	path = AstroNvim
	url = git@github.com:AstroNvim/AstroNvim.git
[submodule "AstroNvim_hellovuong"]
	path = AstroNvim_hellovuong
	url = git@github.com:hellovuong/AstroNvim_hellovuong.git
